@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.max-width{
  max-width: 1300px;
  padding:0 80px;
  margin: auto;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  font-family: "Lato";
  transition: all 0.3s ease;
}

.navbar.sticky{
  padding: 30px 0;
  background: grey;
}

.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.navbar .logo a{
  color: whitesmoke;
  font-size: 35px;
  font-weight: 600;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover{
  color: grey;
}

.navbar.sticky .menu li a:hover{
  color: white;
}

.home {
  display: flex;
  background: url("images/mountains.jpeg") no-repeat center;
  background-size: 100% auto;
  height: 100vh;
  color:white;
  min-height: 500px;
  font-family: "Lato";
}

.home .max-width{
  margin: auto 0 auto 100px;
}

.home .home-content .text1 {
  font-size: 30px;
}

.home .home-content .text2 {
  font-size: 75px;
  font-weight: 500;
  margin-left: -3px;
}

.home .home-content .text3 {
  font-size: 30px;
  margin: 5px 0;
}

.about {
  display: flex;
  background: url("images/mountains.jpeg") no-repeat center;
  height: 100vh;
  color:white;
  min-height: 500px;
  font-family: "Lato";
}

.about .max-width{
  margin: auto 0 auto 100px;
}

.about .title {
  font-weight: "Lato";
  text-align: left;
  font-size: 50px;
}

.about .about-content .text1 {
  margin-top: 2%;
  font-size: 20px;
  text-align: left;
  max-width: 1400px;
}

.projects {
  display: flex;
  background: url("images/mountains.jpeg") no-repeat center;
  height: 100vh;
  color:white;
  min-height: 500px;
  font-family: "Lato";
}

.projects .max-width{
  margin: auto 0 auto 100px;
}

.projects .title {
  font-weight: "Lato";
  text-align: left;
  font-size: 50px;
}

.contact {
  display: flex;
  background: url("images/mountains.jpeg") no-repeat center;
  height: 100vh;
  color:white;
  min-height: 500px;
  font-family: "Lato";
}

.contact .max-width{
  margin: auto 0 auto 100px;
}

.contact .title {
  font-weight: "Lato";
  text-align: left;
  font-size: 50px;
}


